@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div {
  .center {
    @include center-block();
  }
}

